#root {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color: black;
}

body {
    background-image: radial-gradient(rgba(255,0,0,0) 60%, rgba(222, 0, 251, 0.1));
}

.game-description {
    height: fit-content;
    line-height: 1.2em;
}

.flashcard {
    position: relative;
    display: flex;
    place-items: center;
    justify-content: center;
    height: 62vh;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px black solid;
    border-radius: 25px;
    cursor: pointer;
}

.flashcard h2 {
    width: 15vw;
}

.flashcard img {
    max-height: 50vh;
    max-width: 50vw;
    padding: 2vh;
}

#easy {
    background-color: rgba(0, 128, 0, 0.5);
}

#medium {
    background-color: rgba(255, 255, 0, 0.5);
}

#hard {
    background-color: rgba(255, 38, 0, 0.5);
}

button {
    border: none;
    border-bottom: 3px black solid;
    border-radius: 10px;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: larger;
    margin-top: 2vh;
    height: 5vh;
    width: 10vw;
    background-color: rgba(217, 136, 227, 0.5);
    cursor: pointer;
    
}

button:hover {
    transform: scale(105%);
}

button:active {
    border-bottom: 1px black solid;
    transform: translateY(2px);
}